.sidebar {
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(241, 229, 229);
    overflow-x: hidden;
    padding-top: 20px;
}

body {
    background-color: rgb(112, 98, 98);
}

.main {
    margin-left: 160px;
}