
.card {
    margin-bottom: 24px;
  }

.card:hover {
  transform: scale(1.05);
  background-color: whitesmoke; 
}

hr {
    height: 0px;
    border: none;
    border-top: 2px solid black;
    margin-top: 8px;
    margin-bottom: 16px;
}