body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    background-color: #002266;
}

main {
    background-color: #003366;
    padding: 20px;
    border-radius: 20px;
}

button {
    color: white;
    background-color:  #0099ff;
    border: none;
    border-radius: 12px;
    padding: 10px;
}

main>* {
    margin: 8px;
}