/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
  }

.card {
  margin-bottom: 36px;
}

hr {
  height: 0px;
  border: none;
  border-top: 2px solid black;
  margin-top: 8px;
  margin-bottom: 16px;
}