body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000000;
    background-color: #ff9900;
}

main {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
}

button {
    color: white;
    background-color: #ff0000;
    border: none;
    border-radius: 12px;
    padding: 10px;
}

main>* {
    margin: 8px;
}